/* body{
    background-color: aliceblue;
    text-align: center;
    font-family: sans-serif
} */

body {
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #efefef;
  }
.container{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50vw;
}
input{
    padding: 1rem;
    width: 80%;
}
button {
    padding: 1rem;
    font-style: italic;
    margin: 1rem;
    width: 20%;
    cursor: pointer;
    background-color: azure;
    cursor: "pointer"
  }
  table{
    padding: 1rem;
    width: 80%;
    border: "1px solid #D1D5DB";
    width: "100%";
                margin: "1rem 0rem";
                borderRadius: "0.5rem";

  }